 *{padding: 0;margin: 0; box-sizing: border-box ;
 }

 body{background-image: linear-gradient( rgb(155,155,255),rgb(68,68,255));
      min-height: 100vh ;
}
.main-container{
    position: absolute;
    top: 180px;
    left: 350px; 
    background-color: white;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    box-shadow: 70px;

}

a{
    color: darkcyan;
    cursor: pointer;
}
a:visited{
    background-color: indianred;
}

.left-container,.right_image_container{
    width:50% ;
}
.new-user{
    font-size: medium;
    font-weight: 900;
    color: black;
}

.left-container h2{
    margin-top: 5px;margin-bottom: 5px;margin-left: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .left-container{
    float: left;
    position: relative;
    top: 30px;
    left: 30px;

 }
 .left-container .input_label{
    font-size: 20px;
 
 }
 .left-container .input_box{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black;
    padding: 10px 0 10px 30px;
    width: 75%;
    font-size: 25px;
    border-radius: 10px;
 }

 .left-container .input_label_checkbox{
    font-weight: 600;
    font: size: 10px;
 }

 .left-container button{
    padding: 12px 40px;
    width: 75%;
    border: 0;
     background-color: cadetblue;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 10px;
     border-radius: 10px;
     font-size: 20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 900;
     cursor: pointer;

 }

 .right_image_container{
    float: right;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: max-content;
  
 }

 .left-container button:visited{
    background-color: chartreuse;
 }
 .left-container button:hover{
    background-color: darkgreen;
    color:palevioletred;
 }
 .left-container button:active{
    background-color: deeppink;
 }